@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/*font-family: 'DotGothic16', sans-serif;*/
:root {
    --pixel-size: 2.5;
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.position-fixed {
    position: fixed;
    bottom: 0;
}
body {
    background-color: rgb(240, 196, 196);
}
header {
    width: 100%;
    height: 4rem;
    background: linear-gradient(to bottom, red, rgb(179, 15, 15));
    color: white;
}
main {
    width: 100%;
    height: calc(100vh - 4rem - 3rem);
}
footer {
    width: 100%;
    height: 3rem;
    font-size: 16px;
    background: linear-gradient(to bottom, red, rgb(179, 15, 15));
    color: white;
}
#board {
    width: 560px;
    height: 400px;
    border: 5px solid black;
    background-image: url("./assets/field.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

#avatar {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
/*
background-image: url("./assets/down-fixed.PNG");
	background-position: center;
	background-size: cover;
	*/

.character {
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.sprite-sheet {
    width: calc(128px * var(--pixel-size));
    position: absolute;
}

.animation-sheet {
    animation: moveSpriteSheet 0.125s steps(4) infinite;
}

@keyframes moveSpriteSheet {
    0% {
        transform: translate3d(0px, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.pixelart {
    image-rendering: pixelated;
}
/*ORDER TO POKEMON*/
.face-down {
    top: calc(0px * var(--pixel-size));
}
.face-right {
    top: calc(-64px * var(--pixel-size));
}
.face-up {
    top: calc(-96px * var(--pixel-size));
}
.face-left {
    top: calc(-32px * var(--pixel-size));
}

/*ORDER TO GENERAL PERSON*/
/* .face-down {
	top: calc(0px * var(--pixel-size));
}
.face-right {
	top: calc(-32px * var(--pixel-size));
}
.face-up {
	top: calc(-64px * var(--pixel-size));
}
.face-left {
	top: calc(-96px * var(--pixel-size));
}
 */
.down-avatar-fixed {
    background-image: url("./assets/down-fixed.PNG");
}
.up-avatar-fixed {
    background-image: url("./assets/up-fixed.PNG");
}
.left-avatar-fixed {
    background-image: url("./assets/left-fixed.PNG");
}
.right-avatar-fixed {
    background-image: url("./assets/right-fixed.PNG");
}

.coin-container {
    width: 40px;
    height: 40px;
    background-image: url("./assets/coin.png");
    background-position: center;
    background-size: cover;
    position: absolute;
}
/*
bottom: 200px;
	left: 300px;*/
#score-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#score-container img {
    height: 40px;
}
#coin-score {
    font-size: 30px;
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
}
.resource {
    margin-top: 10px;
}

/*NEW CONTENT FOR RESPONSI*/

/* #board {
    width: 100%;
    max-width: 560px;
    height: 400px;
    margin: auto;
    border: 2px solid #000;
    position: relative;
} */

#avatar {
    position: absolute;
    transition: all 0.15s ease;
}

/* .coin-container {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("./assets/coin.png") no-repeat center;
    background-size: contain;
} */
